<section [ngClass]="{ 'loading-table': loading }" id="wrapper" class="login-register login-sidebar">
  <div class="login-box card">
    <div class="card-body">

      <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-horizontal form-material">
        <a href="javascript:void(0)" class="text-center db">
          <!-- <img src="assets/images/logo-icon.png" alt="Home" /><br /><img src="assets/images/logo-text.png" alt="Home" /> -->
        </a>
        <div class="form-group">
          <label for="recipient-name" class="control-label">Email</label>
          <input formControlName="email" type="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Este campo es obligatorio</div>
            <div *ngIf="f.email.errors.email">Ingrese un email válido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="control-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input name="recuerdame" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> Recuérdame </label>
            </div>

            <a routerLink="/send" class="text-muted float-right"><i class="fa fa-lock m-r-5"></i>
              Recuperar ?</a>
          </div>
        </div>
        <div class="text-center m-t-20">
          <div class="col-xs-12">
            <div *ngIf="error" class="text-center text-danger">
              <div>Usuario y/o contraseña incorrectos
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase btn-rounded">Ingresar</button>
          </div>
        </div>

        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            No tienes cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Crear cuenta</b></a>
          </div>
        </div>

      </form>
      
    </div>
  </div>
</section>

<div class="loading-table-spinner" *ngIf="loading">
  <div class="spinner-border align-content-center" role="status" style="color: #007bff;">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<notifier-container></notifier-container>
